* {
    background-color: black;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

h1,
h3 {
    color: whitesmoke;
    text-align: center;
}

span {
    color: gold;
    font-size: x-large;
}

.grid {
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 350px;
    margin-top: 100px;
}

.grid div {
    width: 20px;
    height: 20px;
    border: 1px solid skyblue;
}

.shooter {
    background-color: transparent;
    background-image: url('../assets/shooter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: linear-gradient(#333, rgb(187, 49, 49), #555);*/
}

.invader {
    background-color: blueviolet;
    background-image: url('../assets/alien.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: none;
}

.boom {
    background-color: crimson;
}

.laser {
    background-color: orange;
}